
.body{
    background-color: rgb(241, 239, 239);
    margin-top: 110px;
    margin-bottom:85px;
}
.image_source{
   /* margin: 170px 0px 275px 158px ;*/
    /* width: 68%;
    height: 116px; */
    height: 106px;
    font-family: inherit;
    
}
.email_id
{
    border-radius: 6px;
}
.text_fb{
    margin-left: 20px;
    margin-top: -15px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif ;
    font-size: 24px;
    line-height: 28px;
    width: auto;
}

.password{ 
    border-radius: 6px;

}
.forgot_password{
    color: blue;
    margin-top: -10%;

}
.form_edit{
    background-color: white;
    border-radius: 10px;
    /* margin: 2px; */
    padding: 20px;
    margin-bottom: 10%;
    text-align: center;
    display: block;
    padding-bottom: -50%;
    border-style: outset;
}
.dumbo_d{
    margin-top: 100px;
}
.creat_ac{
    background-color: #42b72a;
    border-radius: 5px;
}
.new_page{
    margin-top: -20px;
    margin-left: 55px;
}
.login_edit{
    margin-top: -10%;
    border-radius: 5px;
}
.next{
    background-color: white;
}